$color-main: #fc7a1e;
$color-secondary: #f9c784;
$color-light: #e7e7e7;
$color-dark: #262730;
$color-special: #754f44;

$font-family-text: "Lato", sans-serif;
$font-family-title: "Oswald", sans-serif;
$font-family-special: "Silkscreen", cursive;
