$color-main: #fc7a1e;
$color-secondary: #f9c784;
$color-light: #e7e7e7;
$color-lighter: #fafafa;
$color-dark: #171717;
$color-darker: #373737;
$color-special: #754f44;

$font-family-text: "Lato", sans-serif;
$font-family-title: "Poppins", sans-serif;
$font-family-special: "Silkscreen", cursive;
