@use "../../styles/_variables" as *;

input {
  padding-right: 25px !important;
}

svg.iconlist-chevron {
  position: absolute;
  top: 57%;
  left: 240px;
  transition: 0.3s;

  &.rotated {
    transform: rotate(-90deg);
    color: $color-light;
  }
}

ul#icons_list {
  width: 250px;
  max-height: 200px;
  overflow: scroll;
  list-style: none;
  padding: 0;
  position: absolute;
  left: 300px;
  top: 26px;
  border-radius: 2px;
  background: $color-main;
  opacity: 0;
  z-index: -1;

  &.visible {
    animation: appearFromLeft 0.25s 1;
    animation-fill-mode: both;
    z-index: 6;
  }

  /* Pour Firefox */
  & {
    scrollbar-color: $color-light $color-main;
  }

  &::-webkit-scrollbar-track {
    background: $color-main;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-light;
  }

  li {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    transition: 0.1s;
    color: $color-light;

    &:hover {
      background-color: #f0f0f0;
      color: $color-main;
    }

    & svg {
      margin-right: 8px;
      font-size: 1.5rem;
    }

    & span {
      font-weight: bold;
    }
  }
}

@keyframes appearFromLeft {
  0% {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 0.9;
    transform: translate3d(0, 0, 0);
  }
}
