@use '../../styles/_variables' as *;

div#signup_page {
  h1 {
    font-size: 4rem;
    line-height: 35px;

    span {
      padding-left: 40px;
      font-size: 1rem;
    }
  }

  & > form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: 20px;

    label {
      font-size: 0.85rem;
      em {
        font-size: 0.7rem;
        opacity: 0.6;
        margin-left: 10px;
      }
    }

    & > div {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    fieldset {
      padding: 10px;
      padding-top: 2px;
      border: 1px solid $color-main;

      & > div {
        display: flex;
        gap: 5px;
        justify-content: space-between;
      }
    }

    & > input {
      width: 100%;
    }

    & > button {
      align-self: center;
    }
  }
}
