html(lang="en")
    head
        title= "⚙ LEARN"
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css")

    block content 

        .container-fluid.d-flex.align-items-center.justify-content-center.h-100 
            .container.w-50.p-5.shadow.rounded.bg-light
                include utilities/loginForm

        //- h1= 'Non connecté.'
        //- form(action="/auth", method="post") 
        //-     input(type="password", name="password")
        //-     button(type="submit")= 'Se connecter'