extends htmlHeader 

block content 
        h1= 'Non connecté.'
        form(action="/auth", method="post") 
            input(type="password", name="password")
            button(type="submit")= 'Se connecter'