extends htmlHeader

block content
    include utilities/subChapterModal 
    
    .d-flex.justify-content-between.p-3
        h1= `Chapitre ${chapter.chapterName}`
        button.btn.btn-primary(type='button' data-toggle='modal' data-target='#subChapterModal')
            | Nouvelle section

    .list-group
    each subChapter in chapter.subChapterList
        .list-group-item
            h4= subChapter.subChapterName
            .list-group
                each exo in subChapter.exerciceList 
                    .list-group-item
                        h5= exo.instructions

    script(type="text/javascript", src="scripts/chapterScript.js") 