nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.shadow
          a.navbar-brand.LEARN-LOGO(href='/') LEARN manager
            sup.text-danger.ms-1 alpha
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarText' aria-controls='navbarText' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarText.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link.disabled(href='#') Chapitres
                  sup.text-primary.ms-1="soon" 
              li.nav-item
                a.nav-link.disabled(href='#') Exercices
                  sup.text-primary.ms-1="soon"
              li.nav-item
                a.nav-link.disabled(href='#') Evaluations
                  sup.text-primary.ms-1="soon"
            
            // Button trigger modal
            button.btn.btn-primary(type='button' data-toggle='modal' data-target='#chapterModal') 
              i.bi.bi-plus
              i.bi.bi-book-fill