@use "../../styles/_variables" as *;

// --- Conteneur global (ecoles + classes)
aside {
  height: 100%;
  display: flex;

  * {
    text-decoration: none;
    color: $color-light;
  }

  // --- Ecoles

  section#schools {
    width: 230px;
    transition: 0.3s;
    height: 100%;
    z-index: 2;
    background: $color-main;

    &.collapsed {
      width: 60px;
    }

    h2 {
      width: 100%;
      margin: 0;
      height: 50px;
      border-bottom: 1px solid $color-light;
      gap: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-family: $font-family-special;
        animation: 0.3s fadeIn 0.3s 1 ease backwards;
      }
    }

    ul#schools_list {
      padding: 20px 7px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      & > em {
        opacity: 0.6;
        font-size: 0.9rem;
        margin: auto;
        display: inline-block;
      }

      li > div {
        animation: 0.3s fadeIn 1 ease backwards;
      }
    }
  }
}

// --- Classes
section#classes {
  width: 230px;
  transition: 0.3s;
  background: #c96e55;
  animation: 0.5s 0.3s classesAppear_classes 1 ease backwards;

  h2 {
    width: 100%;
    margin: 0;
    height: 50px;
    border-bottom: 1px solid $color-light;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-family: $font-family-special;
      animation: 0.3s 0.5s fadeIn 0.3s 1 ease backwards;
    }
  }

  ul#classes_list {
    padding: 20px 7px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > em {
      opacity: 0.6;
      font-size: 0.9rem;
      margin: auto;
      display: inline-block;
    }

    li {
      div {
        animation: 0.3s fadeIn 1 ease backwards;
      }
    }
  }
}

// --- Animations

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes classesAppear_classes {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
