@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap');
.logo-typo {
  font-family: 'Silkscreen', cursive !important;
}

.logo-typo a {
  font-family: 'Silkscreen', cursive !important;
}
.logo-beta {
  color: lightblue;
  font-size: 0.7rem;
}
.header {
  background: red !important;
}

* {
  font-family: 'Roboto', sans-serif !important;
}

.MuiPaper-root.chapter-card {
  background-color: #8afd0096;
  transition: 0.1s !important;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2) !important;
}

.MuiPaper-root.chapter-card:hover {
  cursor: pointer;
  transform: translate3d(0, -10px, 0);
  box-shadow: 2px 12px 10px rgba(0, 0, 0, 0.2) !important;
}

h1,
h2,
h3 H4,
h5 {
  font-family: 'Lato', sans-serif !important;
  font-weight: 400;
}

.exercice-container h2,
.exercice-container h3,
.exercice-container p {
  color: #fafafa;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
}

.exercice-container .syntaxed {
  margin: 1%;
  border-radius: 5px;
}

.exercice-container .exercice-tab {
  color: #e07a5f77;
  transition: 1s;
}

.exercice-container div .lock {
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 30px;
  padding: 10px;
  font-size: 3rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  filter: none !important;
  transition: 0.1s;
}
.exercice-container div .lock:hover {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4);
  cursor: help;
}

/*==== COURS ====*/

/*==== ANIMATIONS ====*/

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background: #f4f1de;
}

/*==== TEMP ====*/
.exercice-tab {
  color: #e07a5f !important;
  transition: 1s !important;
  opacity: 0.7;
}

.exercice-tab.Mui-disabled {
  opacity: 0.4;
}
.MuiTabs-indicator {
  background-color: #e07a5f !important;
}
.menu-item-custom {
  transition: 0.2s;
}
.menu-item-custom.accessible:hover {
  background: rgba(255, 255, 255, 0) !important;
  transform: translate3d(10px, 0, 0);
  cursor: pointer;
}
