@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&display=swap');

:root {
  --toastify-color-success: rgba(51, 187, 102, 0.9);
  --toastify-color-info: rgba(34, 134, 204, 0.9);
  --toastify-color-warning: rgba(235, 149, 50, 0.9);
  --toastify-color-error: rgba(204, 36, 36, 0.9);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background: #f4f1de;
  color: #e07a5f;
}

.logo-typo {
  font-family: 'Silkscreen', cursive;
}
